#comp {
    text-align: center;
}
img {
    width: 500px;
}
button {
    width: 85%;
    height: 40px;
    border: none;
    background-color: aqua;
}
button:hover {
    background-color: aquamarine;
}
